@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
  }

  .dark {
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
  }
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(rgb(254, 243, 199), rgb(254, 243, 199));
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.1s ease-in-out;
}

.link-underline:hover {
  background-size: 100% 2.2px;
  background-position: 0 100%;
}
